<!DOCTYPE HTML>
<!--
    Author: Parallelism by HTML5 UP
    Author URL:  https://html5up.net/parallelism
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->


<html lang="en">
<head>
    <title>Shop Managemet System - Evaluation Task</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body>
    @RenderBody()
</body>
</html>
