@{
    ViewData["Title"] = "Info";
}

<!DOCTYPE html>

<html>
<head>
    <title>Info About Shop Management System</title>
</head>

<body>
    <p>
        To provide an online shopping service to customer. Kindly login to purchase any item.!
    </p>

    <div>
        @Html.ActionLink("Back to Homepage", "Index", "Home")
    </div>

</body>
</html>
